<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="registration-form">
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>

            <div class="form-group">
                <input type="text" class="form-control item" formControlName="username" placeholder="Usuario">
            </div>

            <div class="form-group">
                <input type="email" class="form-control item" formControlName="email" placeholder="Correo electrónico">
            </div>

            <div class="form-group">
                <input type="password" class="form-control item" formControlName="password" placeholder="Contraseña">
            </div>

            <div class="form-group">
                <input type="password" class="form-control item" formControlName="confirmPassword" placeholder="Confirmar Contraseña">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Registrarse</button>
            </div>
        </form>
    </div>
</body>
</html>

